<div class="h-100">
  <img src="../../../assets/images/suazo.png" class="imgSuazo" alt="suazo" />
  <img
    src="../../../assets/images/text-rick-and-morty.png"
    class="img"
    alt="text-rick-and-morty"
  />
  <h1>Bienvenido a Rick and Morty</h1>
  <br />
  <p>
    En esta prueba, evaluaremos su capacidad para construir la aplicación
    mediante el análisis de <br />código y la reproducción del siguiente diseño.
  </p>
  <br>
  <p-button label="Continuar" [rounded]="true" severity="secondary"></p-button>
</div>
